In [1]:
import sqlite3
import pandas as pd

In [2]:
status = sqlite3.connect("eddiebauer.db")

In [3]:
qry = f"SELECT * FROM eddiebauer "
df = pd.read_sql_query(qry, status)
status.close()

DatabaseError: Execution failed on sql 'SELECT * FROM eddiebauer ': no such table: eddiebauer

In [ ]:
import sys
print(sys.getsizeof(result))

In [ ]:
tmp=0
sol={}
for item in result:
    sol[str(tmp)]=item
    tmp+=1
print(sys.getsizeof(sol))

In [ ]:
sol

In [ ]:
print(sys.getsizeof(df))